name: Publish to Modrinth and Hangar

on:
  release:
    types: [published]

jobs:
  publish-modrinth:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      modrinth-url: ${{ steps.publish-modrinth.outputs.modrinth-url }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download release asset
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          echo "Downloading JAR for tag ${{ github.event.release.tag_name }}"
          gh release download ${{ github.event.release.tag_name }} \
            --pattern "Backuper-*.jar" \
            --dir ./target

          FILE=$(ls target/Backuper-*.jar)
          if [ -z "$FILE" ]; then
            echo "Error: JAR file not found!"
            exit 1
          fi
          echo "JAR_FILE=$FILE" >> $GITHUB_ENV
          echo "Downloaded files:"
          ls -lh ./target/

      - name: Publish to Modrinth
        id: publish-modrinth
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: Backuper
          modrinth-featured: true
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          files: |
            target/Backuper-*.jar

          name: Backuper ${{ github.event.release.tag_name }}
          version: ${{ github.event.release.tag_name }}
          version-type: release
          
          changelog: ${{ github.event.release.body }}
          loaders: |
            paper
            purpur
            folia
          game-versions: ">=1.20.6"

      - name: Update Modrinth description
        uses: funnyboy-roks/modrinth-auto-desc@v1.7
        with:
          auth-token: ${{ secrets.MODRINTH_TOKEN }}
          slug: backuper

  publish-hangar:
    runs-on: ubuntu-latest
    needs: publish-modrinth
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Publish to Hangar
        uses: benwoo1110/hangar-upload-action@v1.0.1
        with:
          api_token: ${{ secrets.HANGAR_TOKEN }}
          slug: Backuper
          version: ${{ github.event.release.tag_name }}
          channel: release
          description: ${{ github.event.release.body }}
          files: |
            [
              {
                "platforms": ["PAPER"],
                "url": true,
                "externalUrl": "${{ needs.publish-modrinth.outputs.modrinth-url }}"
              }
            ]
          platform_dependencies: |
            {
              "PAPER": ["1.20.6","1.21.x"]
            }
